li {
    $width: calc((90vw / 4) - 8px);
    $height: calc($width + 180px);
    position: relative;
    width: $width;
    height: $height;
    min-width: 252px;
    min-height: 432px;
    margin: 30px 2px 0;
    cursor: pointer;
    perspective: 1000px;

    &:hover .card-contents {
        transform: rotateY(180deg);
    }

    .card-contents {
        height: 100%;
        border: 1.5px solid whitesmoke;
        transform-style: preserve-3d;
        transition: transform .6s linear;

        .img-container {
            height: 100%;

            img {
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        .img-placeholder {
            height: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2rem;
            color: red;
        }

        .info {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: rgb(0, 0, 0);
            color: white;
            transform: rotateY(180deg);
            backface-visibility: hidden;

            .details {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;

                .cast-title,
                .genre-title {
                    font-size: 1.1rem;
                    font-weight: bolder;
                }
            }

            .title,
            .original-title {
                margin-bottom: .5rem;

                span {
                    font-size: 1.2rem;
                    font-weight: lighter;
                }
            }

            .lang {
                .flag-container {
                    width: 30px;
                    height: 30px;
                    margin-bottom: .5rem;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text {
                    margin: 1rem 0;
                }
            }

            .rating {
                margin-bottom: 1rem;

                i {
                    margin: 0 2px;

                    &.full-star {
                        color: yellow;
                    }
                }
            }

            .overview {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}